.badge{
    width: 270px;
    padding: 15px !important;
    background-color: transparent !important;
    color: black !important;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.text-center{
    margin-top: 10px;
}